@use 'styles/mixins' as *;
@use 'sass:math';


.search-section {
  margin-top: 16px;
  @include container;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.search-form {
  width: min(343px, 100%);
  align-self: flex-start;
  position: relative;
}


.search-label-text {
  position: absolute;
  top: 14px;
  left: 74px;
  color: var(--color-text-light);
  font-size: rem(14);
  line-height: math.div(20, 12);
}

.search-input:not(:placeholder-shown)~.search-label-text {
  @include screenreader-only;
}


.search-input {
  width: 100%;
  font-size: rem(14);
  line-height: math.div(20, 12);
  padding: 14px 20px 14px 74px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  border: none;
  color: var(--color-text-strong);
  background-color: var(--color-background-components);
}

.search-btn {
  display: block;
  position: absolute;
  width: rem(16);
  height: rem(16);
  background-color: var(--color-text-light);
  mask-image: url(/assets/svg/search.svg);
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  top: 16px;
  left: 32px;
}

.filter-form{
  width: 200px;
  align-self: flex-end;
}