@use 'styles/mixins' as *;
@use 'sass:math';

.search-form {
  width: min(343px, 100%);
  align-self: flex-start;
  position: relative;

  @include media(laptop) {
    width: 480px;
  }
}

.search-label-text {
  position: absolute;
  top: 14px;
  left: 74px;
  color: var(--color-text-light);
  font-size: rem(14);
  line-height: math.div(20, 14);

  @include media(laptop) {
    top: 18px;
  }
}

.search-input:not(:placeholder-shown)~.search-label-text {
  @include screenreader-only;
}

.search-input {
  width: 100%;
  font-size: rem(14);
  line-height: math.div(20, 14);
  padding: 14px 20px 14px 74px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  border: none;
  color: var(--color-text-strong);
  background-color: var(--color-background-components);

  @include media(laptop) {
    padding: 18px 20px 18px 74px;
  }
}

.search-btn {
  display: block;
  position: absolute;
  width: rem(16);
  height: rem(16);
  background-color: var(--color-text-light);
  mask-image: url(/assets/svg/search.svg);
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  top: 16px;
  left: 32px;

  @include media(laptop) {
    top: 19px;
    width: rem(18);
    height: rem(18);
  }
}